<p>
  cotizador works!
</p>
<section class="container-fluid mt-0">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form>
        <h2>Supuestos</h2>
        <div class="form-group">
            <label for="formGroup-sbm" class="label-form">Responsable</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Responsable"  name="responsable">
            
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Duración</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Duración">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Plazo de Pago</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Plazo de Pago">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Cliente</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cliente">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Descripción</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descripción">
        </div>
    </form>

</section>
<section class="container-fluid mt-0">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form>
        <h2>Parametros</h2>
        <div class="form-group">
            <label for="formGroup-sbm" class="label-form">Sueldo bruto mensual</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Sueldo bruto mensual" 
            [(ngModel)]="model.parametros.sueldoBruto" name="sueldoBruto">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Costo Laboral</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Costo laboral" 
            [(ngModel)] ="model.parametros.costoLaboral" name="costoLaboral">
        </div>

        {{model.parametros.resultado()}}

        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Movilidad por mes</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Movilidad por mes">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Hardware & Software mensual</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Hardware & Software mensual">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Overhead</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Overhead">
        </div>
    </form>

</section>

<section class="container-fluid mt-0">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form>
        <h2>Facturación</h2>
        <div class="form-group">
            <label for="formGroup-sbm" class="label-form">Gross Margin</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Gross Margin">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Precio de Venta</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Precio de Venta">
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Costo Total</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Costo Total">
        </div>
    </form>

</section>