<div class="divSeparator"></div>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active tabColor" href="#Supuesto" role="tab" data-toggle="tab" aria-expanded="true">Supuesto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabColor" href="#Parametros" role="tab" data-toggle="tab">Parametros</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content tabColor">
    <div role="tabpanel" class="tab-pane fade in active show" id="Supuesto">
        <section class="container-fluid mt-0">
            <form>
                <div class="form-group">
                    <label for="formGroup-sbm" class="label-form">Responsable:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Responsable" [(ngModel)]="model.supuestos.responsable"
                        name="responsable">
                </div>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Duración:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Duración" [(ngModel)]="model.supuestos.duracion"
                        name="duracion">
                </div>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Plazo de Pago:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Plazo de Pago" [(ngModel)]="model.supuestos.plazoPago"
                        name="plazoPago">
                </div>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Cliente:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cliente" [(ngModel)]="model.supuestos.cliente"
                        name="cliente">
                </div>
            </form>
        </section>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Parametros">
        <section class="container-fluid mt-0">
            <form>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Costo Laboral:</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Costo laboral" [(ngModel)]="model.parametros.costoLaboral"
                        name="costoLaboral">
                </div>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Movilidad por mes:</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Movilidad por mes" [(ngModel)]="model.parametros.movilidadMes"
                        name="movilidadMes">
                </div>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Hardware & Software mensual:</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Hardware & Software mensual" [(ngModel)]="model.parametros.hardwareSoftwareMes"
                        name="hardwareSoftwareMes">
                </div>
                <div class="form-group">
                    <label for="formGroup-cl" class="label-form">Overhead:</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Overhead" [(ngModel)]="model.parametros.overHead"
                        name="overHead">
                </div>
            </form>
        </section>
    </div>
</div>

<section class="container-fluid mt-0">
    <table class="table table-condensed table-hover border">
        <tr>
            <!--<th>#</th> -->
            <th><strong>Tipo de ganancia</strong></th>
            <th><strong>Descripción Servicio</strong></th>
            <th><strong>Sueldo Bruto Mensual</strong></th>
            <th><strong>Tiempo Hrs * Mes</strong></th>
            <th><strong>Costo Total</strong></th>
            <th><strong>Gross Margin</strong></th>
            <th><strong>Precio Venta</strong></th>
            <th></th>
        </tr>
        <tr *ngFor="let cotizacion of model.cotizaciones;">
            <!--  <td>{{cotizacion.id}}</td> -->
            <td>
                <div class="styled-select slate">
                    <select>
                        <option>Gross Margin</option>
                        <option>Precio Venta</option>                        
                    </select>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control-text" id="formGroupExampleInput2" placeholder="Descripción" [(ngModel)]="cotizacion.descripcionServicio"
                        name="descripcion{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput" placeholder="Sueldo bruto mensual" [(ngModel)]="cotizacion.sueldoBrutoMensual"
                        name="sueldoBruto{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput2" placeholder="Duración" [(ngModel)]="cotizacion.duracion"
                        name="duracion{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput2" placeholder="Costo Total" [(ngModel)]="cotizacion.costoTotal"
                        ng-change="calculoTableCostoTotal()}}" name="costoTotal{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    {{calculoGrossMargin(cotizacion.id-1)}}%
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput2" placeholder="Precio de Venta" [(ngModel)]="cotizacion.resultadoPrecioVenta"
                        name="precioVenta{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <!-- <button type="button" (click)="eliminar(cotizacion.id)" class="btn btn-delete" data-toggle="modal" data-target="#modalDelete" name="buttonDelete{{cotizacion.id}}">Eliminar</button> -->
                <button type="button" (click)="eliminar(cotizacion.id)" class="btn btn-delete" data-toggle="modal" name="buttonDelete{{cotizacion.id}}">Eliminar</button>
            </td>
        </tr>
    </table>
    <div>
        <button type="button" (click)="agregar()" class="btn btn-add">Agregar cotización</button>
        <button type="button" class="btn btn-calculate" data-toggle="modal" data-target="#exampleModal3">Calcular Pricing</button>
    </div>
</section>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Pricing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <section class="container-fluid mt-0">
                    <form>
                        <div>
                            ¿Esta Seguro que desea eliminar el registro?
                        </div>
                    </form>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary yes">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Resumen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <section class="container-fluid mt-0">
                    <form>
                        <div>
                            <div class="form-group">
                                <label for="formGroup-cl" class="label-form">Cliente:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cliente" [(ngModel)]="model.supuestos.cliente"
                                    name="cliente">
                            </div>
                            <div class="form-group">
                                <label for="formGroup-sbm" class="label-form">Responsable:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Responsable" [(ngModel)]="model.supuestos.responsable"
                                    name="responsable">
                            </div>
                            <div class="form-group">
                                <label for="formGroup-cl" class="label-form">Duración:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Duración" [(ngModel)]="model.supuestos.duracion"
                                    name="duracion">
                            </div>
                            <div class="form-group">
                                <label for="formGroup-cl" class="label-form">Plazo de Pago:</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Plazo de Pago" [(ngModel)]="model.supuestos.plazoPago"
                                    name="plazoPago">
                            </div>
                            <div class="form-group">
                                <label for="formGroup-sbm" class="label-form">Gross Margin:</label>
                                <!-- <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Gross Margin" [(ngModel)]="model.facturacion.grossMargin"
                                    name="grossMargin"> -->{{ CalculoGrossMarginTable() }}
                            </div>
                            <div class="form-group">
                                <label for="formGroup-sbm" class="label-form">Costo Total:</label>
                                <!--  <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Costo Total" [(ngModel)]="model.facturacion.costoTotal"
                                    name="costoTotal"> -->{{ calculoTableCostoTotal() }}
                            </div>
                            <div class="form-group">
                                <label for="formGroup-cl" class="label-form">Precio de Venta:</label>
                                <!-- <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Precio de Venta" [(ngModel)]="model.facturacion.precioVenta"
                                    name="precioVenta"> -->{{ CalculoPrecioVentaTable() }}
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-popup">Guardar</button>
                <button type="button" class="btn btn-popup">Enviar Correo</button>                
                <button type="button" class="btn btn-secondary btn-yes" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>