.label-form {
    font-size: 14px;
}

.table th {
    background-color: #F2F2F2;
    font-size: 14px;
    
}

.table td{
    background-color: #fdf9f9;
    font-size: 14px;
}

.form-control{
    color: #5d5c5b;
}
.btn-add{
    font-size: 14px;
    background: url('../../../assets/image/button_add.png') no-repeat right center;
    background-color: #DCDCDC;
    background-position: 8px 5px;
    width: 175px;
    text-align: right;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    color:#5d5c5b;
}

.btn-yes{
    font-size: 14px;
    background-color: #ff8e01;
    color:#5d5c5b;
}
.btn-calculate{
    font-size: 14px;
    background: url('../../../assets/image/Calculator.png') no-repeat right center;
    background-color: #DCDCDC;
    background-position: 8px 5px;
    width: 175px;
    text-align: right;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    color:#5d5c5b;
}

.btn-delete{
    font-size: 14px;
    background: url('../../../assets/image/button_delete.png') no-repeat right center;
    background-color: #ff8e01;
    background-position: 8px 5px;
    width: 100px;
    text-align: right;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    color:#5d5c5b;
}

.form-control-number {
    display: block;
    width: 140px;
    padding: .5rem .75rem;
    font-size: 14px;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    text-align: right;
}

.form-control-text {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 14px;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group{
    font-size: 14px;
    margin-bottom: 10px;
}

.divSeparator{
    padding-bottom: 20px;
}

.tabColor{
    color: #ff8e01;
}

.styled-select.slate {
    background: url('../../../assets/image/arrow_combo.png') no-repeat right center;
    height: 38px;
    width: 88px;
    font-size: 16px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.styled-select {    
    background: url('../../../assets/image/arrow_combo.png') no-repeat 96% 0;
    height: 38px;
    overflow: hidden;
    width: 88px;
    font-size: 16px;
    color: #F89404;
}

    .styled-select select {
      /*   border: 2px solid #F89404; */
        background: transparent;
        border: none;
        height: 38px;
        /* padding: 5px; /* If you add too much padding here, the options won't show in IE */ 
        width: 100px;
        font-size: 12px;
        color: #0E3A63;
    }


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

