<p>
    cotizador works!
</p>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <section class "container-fluid mt-0"> !-->
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Supuesto</a></li>
        <li><a data-toggle="tab" href="#menu1">Parametros</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Supuesto</h3>
            <section class="container-fluid mt-0">
                <form>

                    <div class="form-group">
                        <label for="formGroup-sbm" class="label-form">Responsable</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Responsable" [(ngModel)]="model.supuestos.responsable"
                            name="responsable">
                    </div>
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Duración</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Duración" [(ngModel)]="model.supuestos.duracion"
                            name="duracion">
                    </div>
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Plazo de Pago</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Plazo de Pago" [(ngModel)]="model.supuestos.plazoPago"
                            name="plazoPago">
                    </div>
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Cliente</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cliente" [(ngModel)]="model.supuestos.cliente"
                            name="cliente">
                    </div>
                </form>
            </section>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Parametros</h3>
            <section class="container-fluid mt-0">
                <form>                  
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Costo Laboral</label>
                        <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Costo laboral" [(ngModel)]="model.parametros.costoLaboral"
                            name="costoLaboral">
                    </div>
                    {{model.parametros.resultado()}}
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Movilidad por mes</label>
                        <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Movilidad por mes" [(ngModel)]="model.parametros.movilidadMes"
                            name="movilidadMes">
                    </div>
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Hardware & Software mensual</label>
                        <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Hardware & Software mensual" [(ngModel)]="model.parametros.hardwareSoftwareMes"
                            name="hardwareSoftwareMes">
                    </div>
                    <div class="form-group">
                        <label for="formGroup-cl" class="label-form">Overhead</label>
                        <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Overhead" [(ngModel)]="model.parametros.overHead"
                            name="overHead">
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>
<!--</section>
-->
<section class="container-fluid mt-0">
    <table class="table table-condensed table-hover border">
        <tr>
            <th>#</th>
            <th><strong>Tipo de ganancia</strong></th>
            <th><strong>Descripción Servicio</strong></th>
            <th><strong>Sueldo Bruto Mensual</strong></th>
            <th><strong>Tiempo Hrs * Mes</strong></th>
            <th><strong>Costo Total</strong></th>
            <th><strong>Gross Margin</strong></th>
            <th><strong>Precio Venta</strong></th>
        </tr>
        <tr *ngFor="let cotizacion of model.cotizaciones;">
            <td>{{cotizacion.id}}</td>
            <td>
                <div class="styled-select slate">

                    <select>
                        <option>Gross Margin</option>
                        <option>Precio Venta</option>                        
                    </select>

                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control-text" id="formGroupExampleInput2" placeholder="Descripción" [(ngModel)]="cotizacion.descripcionServicio"
                        name="descripcion{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput" placeholder="Sueldo bruto mensual" [(ngModel)]="cotizacion.sueldoBrutoMensual"
                        name="sueldoBruto{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput2" placeholder="Duración" [(ngModel)]="cotizacion.duracion"
                        name="duracion{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput2" placeholder="Costo Total" [(ngModel)]="cotizacion.costoTotal"
                        ng-change="calculoTableCostoTotal()}}" name="costoTotal{{cotizacion.id}}">
                </div>
            </td>
            <td>
                <div class="form-group">
                    {{calculoGrossMargin(cotizacion.id-1)}}%
                </div>
            </td>

            <td>
                <div class="form-group">
                    <input type="number" class="form-control-number" id="formGroupExampleInput2" placeholder="Precio de Venta" [(ngModel)]="cotizacion.resultadoPrecioVenta"
                        name="precioVenta{{cotizacion.id}}">
                </div>
            </td>
        </tr>
    </table>
    <button type="button" (click)="agregar()" class="btn add">Agregar cotización</button>
</section>
<section class="container-fluid mt-0">
    <br>
    <br>
    <br>
    <form>
        <h2>Resumen</h2>
        <div>
            <div class="d-inline-block bg-info">
                <label for="formGroup-sbm" class="label-form">Gross Margin</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Gross Margin" [(ngModel)]="model.facturacion.grossMargin"
                    name="grossMargin">{{ CalculoGrossMarginTable() }}
            </div>
            <div class="d-inline-block bg-info">
                <label for="formGroup-cl" class="label-form">Cliente</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cliente" [(ngModel)]="model.supuestos.cliente"
                    name="cliente">
            </div>
        </div>
        <div>
            <div class="d-inline-block bg-info">
                <label for="formGroup-sbm" class="label-form">Costo Total</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Costo Total" [(ngModel)]="model.facturacion.costoTotal"
                    name="costoTotal"> {{ calculoTableCostoTotal() }}
            </div>
            <div class="d-inline-block bg-info">
                <label for="formGroup-sbm" class="label-form">Responsable</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Responsable" [(ngModel)]="model.supuestos.responsable"
                    name="responsable">
            </div>
        </div>
        <div>
            <div class="d-inline-block bg-info">
                <label for="formGroup-cl" class="label-form">Precio de Venta</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Precio de Venta" [(ngModel)]="model.facturacion.precioVenta"
                    name="precioVenta">{{ CalculoPrecioVentaTable() }}
            </div>
            <div class="d-inline-block bg-info">
                <label for="formGroup-cl" class="label-form">Duración</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Duración" [(ngModel)]="model.supuestos.duracion"
                    name="duracion">
            </div>
        </div>
        <div class="form-group">
            <label for="formGroup-cl" class="label-form">Plazo de Pago</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Plazo de Pago" [(ngModel)]="model.supuestos.plazoPago"
                name="plazoPago">
        </div>
    </form>
</section>